body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}
.w3-row-padding img {
    margin-bottom: 12px;
}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("image/artista.jpg");
    min-height: 100%;
}

body.header {
  background-color: black;
}

.copyright{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 

}

